<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if request.session.firstName == None %}
<h3>Hi, Guest</h3>
<a href="/ORS/signin"><b>Login</b></a>
{% else %}
<h3>Hi, {{ request.session.firstName }}</h3>
<a href="/ORS/add"><b>Add User</b></a> |
<a href="/ORS/list"><b>User List</b></a> |
<a href="/ORS/addMarksheet"><b>Add Marksheet</b></a> |
<a href="/ORS/marksheetlist"><b>Marksheet List</b></a> |
<a href="/ORS/logout"><b>Logout</b></a>
{% endif %}
<hr>
</body>
</html>