<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <th>First Name :</th>
            <td><input type="text" name="firstName"></td>
        </tr>
        <tr>
            <th>Last Name :</th>
            <td><input type="text" name="lastName"></td>
        </tr>
        <tr>
            <th>Login :</th>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <th>Password :</th>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="Register"></td>
        </tr>
    </table>
</form>
</body>
</html>