<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "Header.html" %}
<form method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td><input type="text" name="firstName"></td>
            <td><input type="submit" name="operation" value="search"></td>
        </tr>
    </table>
    <table width="100%" border="1">
        <tr>
            <th>S.No</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>LoginID</th>
            <th>Password</th>
            <th>Edit | Delete</th>
        </tr>
        {% for l in userList %}
        <tr>
            <td style="text-align:center">{{ forloop.counter }}</td>
            <td style="text-align:center">{{ l.firstName }}</td>
            <td style="text-align:center">{{ l.lastName }}</td>
            <td style="text-align:center">{{ l.email }}</td>
            <td style="text-align:center">{{ l.password }}</td>
            <td style="text-align:center"><a href="/ORS/edit/{{ l.id }}">edit</a> | <a href="/ORS/delete/{{ l.id }}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <table style="width: 100%">
        <tr>
            <td style="width: 25%">
                <input type="submit" name="operation" value="previous" {% if pageNo == 1 %} disabled {% endif %}>
            </td>
            <td style="width: 75%"></td>
            <td style="width: 25%">
                <input type="submit" name="operation" value="next" {% if userList|length < 5 %} disabled {% endif %}>
            </td>
        </tr>
    </table>
    <td><input type="hidden" name="pageNo" value="{{pageNo}}"></td>
</form>
</body>
</html>