<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>LoginID</th>
            <th>Password</th>
        </tr>
        {% for l in list %}
        <tr>
            <td>{{ l.id }}</td>
            <td>{{ l.firstName }}</td>
            <td>{{ l.lastName }}</td>
            <td>{{ l.loginId }}</td>
            <td>{{ l.password }}</td>
        </tr>
        {% endfor %}

    </table>
</form>
</body>
</html>