<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get">
    <div align="center">
        <table>
        <tr>
            <th>Login ID:</th>
            <td><input type="text" name="loginId"></td>
        </tr>
        <tr>
            <th>Password:</th>
            <td><input type="text" name="password"></td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="signIn"></td>
        </tr>
    </table>
    </div>
</form>
</body>
</html>